.personal-info {
    margin: 10px 200px 10px 200px;
    padding: 5px 5px 5px 5px;
}

#portfolio-image {
    width: 125px;
    height: 125px;
    float: left;
    margin: 0px 5px 5px 0px;
}

.links {
    margin: 5px 5px 5px 5px;
    padding: 15px 5px 5px 5px;
    width: 15%;
    height: 38px;
    float: right;
}

h1 {
    width: 70%;
    box-sizing: border-box;
    float: left;
    
}

.top {
    height: 65px;
    background-color: #ffffff;
    border-bottom: 2px gray solid;
}

#about-me {
    text-align: left;
    border-bottom: 2px gray solid;
    padding: 0px 0px 15px 0px;
}

#name {
    margin: 5px 5px 5px 200px;
    padding: 5px 5px 5px 5px;
    width: 15%;
    height: 38px;
}